/* Trabajo diario 10
   Pablo Ordóñez Gómez
   Sombras y degradados
*/
*{
    margin: 0px;
    box-sizing: border-box;
}
header,footer{
    background-color: brown;
    color: white;
    padding: 25px;
}
img{
    width: 50px;
    box-shadow: 4px 4px 5px black;
}
footer{
    display: flex;
    justify-content: space-between;
}
h1{
    text-shadow: 5px 5px 2px black;
}
main{
    display: flex;
}
section{
    box-shadow: 5px -5px 20px yellow;
    padding: 20px;
    margin: 15px 5px 15px 5px;
}