*{
    box-sizing: border-box;
    margin: 0px;
}
.ordenador{
    background-color: aqua;
    border: solid;
    padding: 20px;
    margin: auto;
    width: 50%;
    border-radius: 12%;
}
.tic{
    background-color: bisque;
    border: solid;
    margin: auto;
    width: 50%;
    border-radius: 25%;
    padding: 20px;
}
.definiciones{
    background-color: coral;
    border: solid;
    margin: auto;
    width: 50%;
    border-radius: 12%;
    padding: 20px;
}
ol ol {
    list-style-type: lower-latin;
}