/*
Pablo_03_29092022
*/

body{
    background-color: bisque;

}
h1{
    background-color: rgba(0,0,0,0.5);
    border: black double 5.5px;
    padding: 20px;
    border-radius: 10px;
}
p{
    margin: 0px 50px 100px 50px;
}
